[submodule "vim/bundle/vim-fugitive"]
	path = links/vim/pack/utility/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-winresizer"]
	path = links/vim/pack/interface/start/winresizer
	url = https://github.com/simeji/winresizer.git
[submodule "vim/bundle/vim-undotree"]
	path = links/vim/pack/utility/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/bundle/vim-surround"]
	path = links/vim/pack/utility/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-commentary"]
	path = links/vim/pack/utility/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-clam"]
	path = links/vim/pack/utility/start/clam
	url = https://github.com/sjl/clam.vim.git
[submodule "Dracula/terminal-app"]
	path = Dracula/terminal-app
	url = https://github.com/dracula/terminal.app.git
	branch = benknoble-tweaks
[submodule "vim/bundle/vim-dracula"]
	path = links/vim/pack/colors/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/bundle/vim-unimpaired"]
	path = links/vim/pack/utility/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-pydoc"]
	path = links/vim/pack/languages/start/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/vim-game-code-break"]
	path = links/vim/pack/games/start/code-break
	url = https://github.com/johngrib/vim-game-code-break.git
[submodule "vim/bundle/vim-indent-object"]
	path = links/vim/pack/utility/start/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/vim-tmux"]
	path = links/vim/pack/languages/opt/tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "vim/bundle/colorizer"]
	path = links/vim/pack/interface/start/colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule "vim/bundle/splitjoin"]
	path = links/vim/pack/utility/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
	branch = main
[submodule "vim/bundle/ale"]
	path = links/vim/pack/utility/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/bundle/liquid"]
	path = links/vim/pack/languages/start/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "vim/bundle/rhubarb"]
	path = links/vim/pack/utility/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "Dracula/gitk"]
	path = Dracula/gitk
	url = https://github.com/dracula/gitk.git
[submodule "vim/bundle/vader"]
	path = links/vim/pack/utility/start/vader
	url = https://github.com/junegunn/vader.vim.git
[submodule "links/vim/pack/utility/start/endwise"]
	path = links/vim/pack/utility/start/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "links/vim/pack/utility/start/repeat"]
	path = links/vim/pack/utility/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "links/vim/pack/utility/start/tbone"]
	path = links/vim/pack/languages/opt/tmux-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "links/vim/pack/utility/start/eunuch"]
	path = links/vim/pack/utility/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "links/vim/pack/utility/start/presenting"]
	path = links/vim/pack/utility/start/presenting
	url = https://github.com/sotte/presenting.vim
[submodule "links/vim/pack/languages/start/puppet"]
	path = links/vim/pack/languages/opt/puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim
[submodule "links/vim/pack/languages/start/docker"]
	path = links/vim/pack/languages/opt/docker
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "links/vim/pack/utility/start/heroku"]
	path = links/vim/pack/utility/opt/heroku
	url = https://github.com/tpope/vim-heroku.git
[submodule "links/vim/pack/utility/start/obsession"]
	path = links/vim/pack/utility/start/obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "links/vim/pack/utility/start/apathy"]
	path = links/vim/pack/utility/start/apathy
	url = https://github.com/tpope/vim-apathy.git
[submodule "links/vim/pack/languages/start/js"]
	path = links/vim/pack/languages/start/js
	url = https://github.com/pangloss/vim-javascript.git
[submodule "links/vim/pack/utility/start/scriptease"]
	path = links/vim/pack/languages/start/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "links/vim/pack/languages/start/applescript"]
	path = links/vim/pack/languages/opt/applescript
	url = https://github.com/RobertAudi/applescript.vim.git
[submodule "benknoble/plink"]
	path = plink
	url = https://github.com/benknoble/plink.git
[submodule "vimben"]
	path = links/vim/pack/benknoble
	url = https://github.com/benknoble/vimben.git
[submodule "links/vim/pack/languages/start/sexp-map"]
	path = links/vim/pack/languages/start/sexp-map
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people
[submodule "links/vim/bundle/pathogen"]
	path = links/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "links/vim/pack/interface/start/cool-hlsearch"]
	path = links/vim/pack/interface/start/cool-hlsearch
	url = https://github.com/romainl/vim-cool.git
[submodule "links/vim/pack/languages/start/classpath"]
	path = links/vim/pack/languages/start/classpath
	url = https://github.com/tpope/vim-classpath
[submodule "links/vim/pack/languages/start/clojure-fireplace"]
	path = links/vim/pack/languages/opt/clojure-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "links/vim/pack/languages/start/cs-omnisharp"]
	path = links/vim/pack/languages/opt/cs-omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "links/vim/pack/languages/opt/go"]
	path = links/vim/pack/languages/opt/go
	url = https://github.com/arp242/gopher.vim
[submodule "links/vim/pack/languages/start/toml"]
	path = links/vim/pack/languages/start/toml
	url = https://github.com/cespare/vim-toml
[submodule "links/vim/pack/interface/start/FYT"]
	path = links/vim/pack/interface/start/FYT
	url = https://github.com/statox/FYT.vim
[submodule "links/vim/pack/languages/start/antlr"]
	path = links/vim/pack/languages/start/antlr
	url = https://github.com/suoto/vim-antlr
[submodule "links/vim/pack/utility/start/abolish"]
	path = links/vim/pack/utility/start/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "links/vim/pack/languages/start/simpletemplate"]
	path = links/vim/pack/languages/start/simpletemplate
	url = https://github.com/gbishop/vim-simpletemplate
[submodule "links/vim/pack/languages/opt/coqtail"]
	path = links/vim/pack/languages/opt/coqtail
	url = https://github.com/whonore/Coqtail
[submodule "links/vim/pack/utility/opt/batchy"]
	path = links/vim/pack/utility/opt/batchy
	url = https://github.com/arp242/batchy.vim
[submodule "links/vim/pack/utility/opt/jqplay"]
	path = links/vim/pack/utility/opt/jqplay
	url = https://github.com/bfrg/vim-jqplay
[submodule "links/vim/pack/utility/start/fileselect"]
	path = links/vim/pack/utility/start/fileselect
	url = https://github.com/yegappan/fileselect/
[submodule "links/vim/pack/colors/start/flattened"]
	path = links/vim/pack/colors/start/flattened
	url = https://github.com/romainl/flattened
